body {
    background-color: #fff;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center;
}

.btn {
    background-color: #2998F3;
    color: #fff;
    font-size: 20px;
    padding: 15px 30px;
    position: relative;
    text-decoration: none;
}

.badge {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: black;
    color: #fff;
    padding: 5px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: -25px;

}
