*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
nav{
   
    border: 1px solid black;
    background-color: #151B1F;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 20px;

}
.nav-item {
    text-decoration: none;
    color: #A7A397;
    margin-right: 25px;
    margin-left: 15px;
}
.nav-item:hover{
    color: #02F9B8;
}