body{
    background-color:#CFDFDF;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
}
.btn-text-two{
    display: none;
}
.btn{
   
  background-color: #153B72;
  color: #FFF;
  border: #153B72;

}
.btn{
   padding: 10px 30px;
    border-radius: 300px;
    
}

